@import '../../shared/styles/variables';

.search-input,
.filter-select{
  border: 1px solid $color-border;
  color: $color-text;
  background-color: $ui-bg;
  font-size: 1rem;
  transition: all 0.2s ease;

  &::placeholder {
    color: $color-muted;
    opacity: 0.7;
  }

  &:focus {
    outline: none;
    border-color: $color-accent;
    box-shadow: 0 0 0 3px rgba($color-accent, 0.3);
  }
}

.shoe-card.selected {
  border-color: $color-accent;
  background-color: lighten($color-accent, 40%);
}

body.overflow-hidden {
  overflow: hidden;
}
.side-panel{
  border: 2px solid $color-border;
}
.create-order{
  background-color: $color-primary;
  color: $ui-bg;
}





