<div class="relative min-h-screen w-screen  overflow-hidden">
  <!-- Gimpies logo -->
  <div class="logo-box">
    <img src="../../../assets/images/GiempisLogo.png" alt="Gimpies Logo" class="logo-shoe" />
    <h1 class="logo-text">Gimpies</h1>
  </div>


  <!-- Gecentreerd login-formulier -->
  <div class="login-page ">
    <form novalidate [formGroup]="screenFormGroup" class="login-form-container">
      <h2 class="login-title text-center text-2xl font-bold mb-6">Login</h2>

      <div [magic]="mgc.Login" class="form-wrapper">
        <!-- Username -->
        <div class="form-row">
          <div class="input-field">
            <label [magic]="mgc.Lb_UserName" class="label block mb-1">
              {{ mg.getText(mgc.Lb_UserName) }}
            </label>
            <input
              type="text"
              class="login-input"
              [magic]="mgc.V_UserName"
              [formControlName]="mgc.V_UserName"
              mgFormat
            />
            <mgError [magic]="mgc.V_UserName"></mgError>
          </div>
        </div>

        <!-- Password -->
        <div class="form-row">
          <div class="input-field">
            <label [magic]="mgc.Lb_Password" class="label block mb-1">
              {{ mg.getText(mgc.Lb_Password) }}
            </label>

            <div class="password-input-wrapper">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="login-input"
                [magic]="mgc.V_Password"
                [formControlName]="mgc.V_Password"
                mgFormat
              />
              <button
                type="button"
                class="toggle-password-button"
                (click)="togglePasswordVisibility()"
                [attr.aria-label]="'Toon/verberg wachtwoord'"
                [attr.aria-pressed]="showPassword"
              >
                {{ showPassword ? '👁️' : '🙈' }}
              </button>
              <mgError [magic]="mgc.V_Password"></mgError>
            </div>

            <label [magic]="mgc.v_ErrorMessage" class="error-label">
              {{ mg.getText(mgc.v_ErrorMessage) }}
            </label>
          </div>
        </div>

        <!-- Button -->
        <div class="button-row">
          <button (click)="triggerRoute()" class="login-button"   [disabled]="!screenFormGroup.valid"
          >
            Login
          </button>
        </div>
<!--        <button (click)="testFunction()">test</button>-->

      </div>
    </form>
  </div>
</div>
