$color-background: #F5EFE0;
$color-primary: #014421;
$color-secondary: #002147;
$color-muted: #C2B280;
$color-alert: #58181F;
$color-accent: #BFA06B;
$color-text: #333333;
$color-surface: #FAF2E6;
$color-label: #5A5A5A;
$color-hover-light: #EDE8DB;
$color-border:#1C3A2B;

$ui-border: #cbd5e1;
$ui-text: #1e293b;
$ui-bg: #f8fafc;
$ui-focus: #3b82f6;
$ui-hover-bg: #e0f2fe;
